.workExp {
  display: flex;
  flex-direction: row;
  gap: 120px;
  padding: 15px;
  padding-left: 5px;
  padding-bottom: 0;
  width: 800px;
}

.buttonContainer {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.aNewJobRendered {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  height: 100px;
  padding-bottom: 5px;

}

.workExpContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 5px;
  overflow: hidden;
  min-width: 340px;
  max-width: 340px;
  padding: 10px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.datesContainer {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 3px;
  color: #5e5e5e;
  justify-content: flex-end;
}

.topRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.listAllJobs {
  display: flex;
  flex-direction: column;
}

.jobTitle {
  font-size: 15px;
  color: #195c70;
  font-weight: 600;
}

.sinceDate, .untilDate {
  font-size: 14px;
}

.description {
  font-size: 13px;
}

.company {
  color: #5e5e5e;
}

.betweenDates {
  font-size: 17px;
  font-weight: 500;
  height: 15px;
}

.closeButton {
  border: none;
  width: 20px;
  height: 20px;
}

.closeButton:hover {
  border: none;
  font-weight: 600;
}

button {
  font-size: 13px;
  cursor: pointer;
}