@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

label {
  width: 200px;
}
.buttonContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

button {
  background: #fff;
  border: 1px solid rgb(118, 118, 118);
  color: #000000;
  border-radius: 2px;
  width: 55px;
  height: 25px;
  font-size: 14.5px;
}

button:hover {
  border: 1px solid blue;
}

input:focus {
  outline-color: blue;
  outline: blue;
}

p {
  font-size: 15px;
}

.Header {
  margin-bottom: 30px;
  margin-top: 10px;
}

